asteroid-filterbanks==0.4.0
einops >=0.6.0
huggingface_hub >= 0.13.0
lightning >= 2.0.1
omegaconf >= 2.0.6
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pytorch-metric-learning==2.4.1
rich==13.7.1
semver==3.0.2
soundfile >= 0.12.1
speechbrain >= 0.5.14
tensorboardX >= 2.6
torch >= 2.0.0
torch-audiomentations==0.11.1
torchaudio >= 2.0.0
torchmetrics >= 0.11.0
